.jayimage {
  max-height: 340px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}