html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.jayimage {
  max-height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.sidebar {
  width: 140px;
}

#header {
  background-color: #2b2927;
  /* This shows the background color */

  margin-bottom: 81px;
  /* This ensures that there is a margin of 81px between the header of other elements */

  overflow: hidden;
  /* Overflow hidden is used because we will be floating all children elements. */
}

.wrap {
  width: 1152px;
  /* Sets the width of the elements to be 1152 pixels. */

  margin: 0 auto;
  /* Shorthand for margin. Auto on left and right allows .wrap to be centered in the browser */
}

#title-area {
  display:block;
  /* Display block allows setting of width and height values  */

  line-height: 108px;
  height: 108px;
  /* height determines the amount of vertical space allocated for the header.

  Also, a line-height that equals the height ensures that the element is centered on the horizontal axis */

  width: 30%;
  /*A small width is to ensure that there is space for navigational elements*/

  float: left;
  /* floating the title area left ensures that it can be placed side by side with the navigational elements, which would be floated to the left as well */
}


nav {
  line-height: 108px;
  height: 108px;
  float: right;
  width: 65%;
}

nav li{
  display: inline;
}

nav ul {
  text-transform: uppercase;
  /* This is to convert all letters to uppercase */
  text-align:justify;
  /* text-align: justify and the following few lines of codes inclusive allows my navigation elements to have equal spaces within between them no matter how many elements there are.*/

}
nav ul:after {
  content:'';
  display:inline-block;
  width: 100%;
  height: 0;
}

nav a {
  padding: 1em 0;
}


body {
  font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
  /* This is a font shorthand that allows you to set many variables at one go, in this case its:
  font weight:    normal;
  font-size:      18px;
  line-height:    1.5;
  font-family:    "Montserrat", helvetica, arial, sans-serif; */
}

#title,
nav {
/* commas allow you to add more than one selector to have the same styles.
Since we want the text in both #title and nav to be bold, we can specify font-weight: bold; to both of them in this manner */
    font-weight: bold;
}

#title {
  font-size: 24px;
  /* This is to enlarge the font on the title text */
}


a {
  text-decoration: none;
  /* This removes the underline in anchor tags */
}

#title a, nav a,
/* This targets the <a> tag within #title and #nav respectively */
#title a:visited, nav a:visited
/* This targets links that were already visited before by the user  */
{
  color: #faf3e7;
}


#title a:focus, /*Focus takes effect when the tab shortcut is used to navigate the links */
#title a:hover,  /* Hover takes effect when you mouse enter the specific area */
#title a:active  /* active takes effect when its the active page */
{
  color: #faf3e7;
  text-decoration: none;
  /* This ensures the header text doesn't change color on hover */
}

nav a:focus, nav a:hover, nav a:active
{
  color: #ce6f20;
  text-decoration: none;
}