.jayimage {
  max-height: 340px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

#header {
  background-color: #2b2927;
  /* This shows the background color */

  margin-bottom: 81px;
  /* This ensures that there is a margin of 81px between the header of other elements */

  overflow: hidden;
  /* Overflow hidden is used because we will be floating all children elements. */
}

.wrap {
  width: 1152px;
  /* Sets the width of the elements to be 1152 pixels. */

  margin: 0 auto;
  /* Shorthand for margin. Auto on left and right allows .wrap to be centered in the browser */
}

#title-area {
  display:block;
  /* Display block allows setting of width and height values  */

  line-height: 108px;
  height: 108px;
  /* height determines the amount of vertical space allocated for the header.

  Also, a line-height that equals the height ensures that the element is centered on the horizontal axis */

  width: 30%;
  /*A small width is to ensure that there is space for navigational elements*/

  float: left;
  /* floating the title area left ensures that it can be placed side by side with the navigational elements, which would be floated to the left as well */
}

#nav {
  line-height: 108px;
  height: 108px;
  float: right;
  width: 65%;
}

#nav li{
  display: inline;
}

#nav ul {
  text-transform: uppercase;
  /* This is to convert all letters to uppercase */
  text-align:justify;
  /* text-align: justify and the following few lines of codes inclusive allows my navigation elements to have equal spaces within between them no matter how many elements there are.*/
}
#nav ul:after {
  content:'';
  display:inline-block;
  width: 100%;
  height: 0;
}

#nav a {
  padding: 1em 0;
}